# Two services: backend API on 5000, frontend (nginx) on 80
services:
  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env        
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://3.7.65.253:3000/api
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend